.mBT-1 {
    width: 100%;
}
.emailInput {
    background: #FFFFFF;
    border-radius: 32px;
    padding: 16px 24px;
    border: 0;
}
.formContainer {
    display: flex;
    justify-content: center;
    text-align: center;
}
.Newsletter {
    padding: 96px 0;
    background: #F6F7FB;
    border-radius: 56px;
}
.NewsletterMargin {
    margin-bottom: 48px;
}
.h1Brief {
    width: 496px;
}

.marginButton {
    margin-bottom: 144px;
}