

nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 48px;
  box-sizing: border-box;
}
.nav-margin {
  margin-left: 20px;
}
.margin1 {
  padding: 100px;
}
.margin2 {
  margin-top: 0;
}